{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color:#fff;
}

.container{
  display: flex;
  height: 100vh;  
}

.sidebar{
width: 300px;
background-color: #121212;  
padding: 24px; 
padding-bottom: 90px; 
}